<section id="say">
    <div class="container">
        <div class="row py-5 justify-content-center">
            <div class="col-md-8 col-xl-6">
                <div class="owl-carousel say">
                    <div>
                        <div class="item text-center">
                            <div class="img d-flex justify-content-center">
                                <img src="~/assets/img/testimonial-img-1.png" alt="">
                            </div>
                            <div class="text text-muted pt-3 pb-5">
                                <i>
                                    Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus
                                    lingua.
                                </i>
                            </div>
                            <div class="author">
                                <h6>Anna Barnes</h6>
                                <p class="text-black-50">Florist</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="item text-center">
                            <div class="img d-flex justify-content-center">
                                <img src="~/assets/img/testimonial-img-2.png" alt="">
                            </div>
                            <div class="text text-muted pt-3 pb-5">
                                <i>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                    ligula eget.
                                </i>
                            </div>
                            <div class="author">
                                <h6>Jasmine White</h6>
                                <p class="text-black-50">Florist</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
