@model Category 
<main>
    <div class="conatiner" mt-5 style="margin-right:100px">
        <form asp-action="Create" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Category name </label>
                <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"asp-for="Name">

            </div>

            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </div>
</main>

